.blockForm{
padding: 20px;
height: 100vh;
}
.input{
 height: 30px;
 width: 250px;
 margin-right: 15px;
 background-color: #e3e3e3;
 border: none;
 padding: 0;
 padding-left: 10px;
 box-sizing: border-box;
}
.button{
height: 30px;
border: none;
width: 90px;
background-color: #e3e3e3;
}
.listBrowsers {
    width: 250px;
    background-color: #ababab;
    list-style: none;
    margin: 0;
    padding: 0;
}

.browser {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
    padding: 5px;
    border: 1px solid #767575;
}